# Environnements virtuels
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Pytest
.coverage
htmlcov/
.pytest_cache/

# Variables d'environnement
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/